.container {
    position: relative;
    background-color: green;
    width: 350px;
    height: 70px;
}
.container p {
    color: white;
    /*padding: 25px 0 0 20px;*/
    /* Можна ще було б зробити так*/
    position: absolute;
    top: 30%;
    left: 35%;
    margin: auto;
}
.container .ableft {
    position: absolute;
    top: 0px;
    left: 0;
    width: 5px;
    height: 5px;
    background-color: white;
}
.container .abright {
    position: absolute;
    top: 0px;
    right: 0;
    width: 5px;
    height: 5px;
    background-color: white;
}
.container .absolute {
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 5px;
    height: 5px;
    background-color: white;
}
.container .abbottom {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 5px;
    height: 5px;
    background-color: white;
}